Checks: >
     -*,
     bugprone-*,
       -bugprone-easily-swappable-parameters,
       -bugprone-exception-escape,
     clang-analyzer-*,
     clang-diagnostic-*,
     cppcoreguidelines-*,
       -cppcoreguidelines-avoid-magic-numbers,
       -cppcoreguidelines-avoid-non-const-global-variables,
       -cppcoreguidelines-init-variables,
       -cppcoreguidelines-interfaces-global-init,
       -cppcoreguidelines-non-private-member-variables-in-classes,
       -cppcoreguidelines-owning-memory,
       -cppcoreguidelines-pro-*,
     misc-*,
       -misc-const-correctness,
       -misc-use-internal-linkage,
       -misc-non-private-member-variables-in-classes,
       -misc-no-recursion,
     modernize-*,
       -modernize-use-trailing-return-type,
     performance-*,
       -performance-avoid-endl,
     portability-*,
     readability-*,
       -readability-avoid-const-params-in-decls,
       -readability-braces-around-statements,
       -readability-enum-initial-value,
       -readability-function-cognitive-complexity,
       -readability-function-size,
       -readability-identifier-length,
       -readability-magic-numbers,
       -readability-math-missing-parentheses,
       -readability-named-parameter,
       -readability-redundant-inline-specifier,
       -readability-static-accessed-through-instance,

HeaderFileExtensions: ["H"]

HeaderFilterRegex: '.*\.H$'