name: Test MacOS compilation

on: [pull_request]
jobs:
  macos-compilation:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          brew update
          brew install make
          brew install gcc
          brew install libomp

      - name: Print system info
        run: |
          echo '::group::CPU info'
          sysctl -a | grep machdep.cpu
          echo '::endgroup::'
          echo '::group::build tool versions'
          xcode-select -p
          clang++ --version
          python --version
          gmake --version | head -1
          brew --prefix
          g++-15 --version
          echo '::endgroup::'

      - name: Compile problems with long double
        run: |
          cd tests
          gmake clean
          gmake PRECISION=LONG_DOUBLE COMP=CLANG

      - name: Compile problems with __float128
        run: |
          cd tests
          gmake clean
          gmake PRECISION=FLOAT128 CXX=g++-15

